<div class="row">
        <div class="col-md-12">
            <h2 class="display-2 text-center">Connect your store</h2>
        </div>
    </div>


 <div class="row">
        <div class="col-md-4 card-annotation">
            <h3>Connect your store</h3>
            <p class="text-secondary">
              Type in your .msyhopify.com store's name
            </p>


        </div> <!--Annotation-->
        <div style="margin-top: 30px;" class="col-md-8">
            <div class="card">
              <form method="GET" action="">

                <div class="card-body">
                  <div class="row">
                    <div class="col-4">
                      <input id="shop" name="shop" class="form-control" type="text"/>
                    </div>
                    <div class="col-8">
                      <label for="shop">.myshopify.com</label>
                    </div>
                  </div>
                </div>
                <div class="card-action card-action-end">
                    <div>
                        <button type="submit" class="btn-primary
                                    btn">
                            Connect!
                        </button>
                    </div>

                </div>

              </form>
            </div>
        </div>

    </div> <!--./credentials row-->